body {
    background-color: #1f2022;
    background-image: url(/img/темfний.jpg);
}

.main_text {
    display: flex;
    margin-top: 400px;
    color: #bbbcbc;
    justify-content: center;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.pass_cont {
display: flex;
justify-content: center;
}

.pass {
    justify-content: center;
    width: 150px;
    height: 40px;
    border: 1px solid rgba(212, 191, 191, 0.2);
    background-color: rgba(255, 0, 0, 0);
    border-radius: 6px;
    outline: none;
    color: #bbbcbc;
    font-size: xx-large;
    text-align: center;
    outline: transparent;
}
.pass[type=text]:focus {
    border: 3px solid #555;
}

.btn_cont {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

/* Стиль кнопки */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(33, 50, 201);
    /* Початковий колір */
    color: #030303;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    /* Анімація зміни кольору фону */
}

/* Стиль кнопки при наведенні курсору */
.btn:hover {
    background-color: rgb(65, 65, 209);
    /* Кінцевий колір при наведенні */
}
