body {
    background-color: #1f2022;
}

.main_text {
    display: flex;
    margin-top: 300px;
    color: #bbbcbc;
    justify-content: center;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.pass_cont {
display: flex;
justify-content: center;
}

.pass {
    justify-content: center;
    width: 150px;
    height: 40px;
    border: 1px solid rgba(212, 191, 191, 0.2);
    background-color: rgba(255, 0, 0, 0);
    border-radius: 6px;
    outline: none;
    color: #bbbcbc;
    font-size: xx-large;
    text-align: center;
    outline: transparent;
}
.pass[type=text]:focus {
    border: 3px solid #555;
}

.btn_cont {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}